<ion-view view-title="Mi Perfil">
    <ion-content>
        <!--<div class="bar bar-header bar-balanced">
            <h1 class="title">mi-nombre</h1>
        </div>-->
        <div class="list list-inset">
        <a class="item item-avatar" href="#">
            <img src="{{auth.profile.picture}}">
                <h2>{{auth.profile.name}}</h2>
            <p>{{auth.profile.nickname}}</p>
        </a>
    </div>
        <div class="list list-inset">
            <div class="item item-divider">
                Datos personales
            </div>
            <label class="item item-input item-stacked-label">
                <i class="icon ion-ios-paw"></i>
                <span class="input-label">Nombre de Usuario</span>
                <input type="text" placeholder="{{auth.profile.username}}">
            </label>
            <label class="item item-input item-stacked-label">
                <i class="icon ion-email"></i>
                <span class="input-label">Email</span>
                <input type="text" placeholder="{{auth.profile.email}}">
            </label>
            <label class="item item-input item-stacked-label">
                <i class="icon ion-ios-telephone-outline"></i>
                <span class="input-label">Teléfono</span>
                <input type="text" placeholder="{{auth.profile.phone}}">
            </label>
            <div class="item item-icon-left" href="#">
                <i class="icon ion-person-stalker"></i>
                Rating
                <span class="badge badge-assertive">{{activeUser.rating}}%</span>
            </div>
        </div>
        <div class="list list-inset">
            <div class="item item-divider">
                Conecciones
            </div>
            <div class="item item-icon-left" href="#">
                <i class="icon ion-social-twitter"></i>
                Twitter
                <span class="item-note">@mateonietod</span>
            </div>
            <div class="item item-icon-left" href="#">
                <i class="icon ion-social-facebook"></i>
                Facebook
                <span class="item-note">Mateo Nieto</span>
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-positive">
                Aplicar Cambios
            </button>
        </div>
    </ion-content>
</ion-view>
