<ion-view view-title="Información de Mascota">
  <ion-content>
    <div class="list list-inset">
        <div class="item item-divider">
            Imagen
        </div>
        <div align="center">
            <img id="petPic" src="{{myPicture}}" width="60%" height="60%"/>
        </div>

        <div class="button-bar">
            <button class="button button-positive" ng-click="takePicture()">
                <i class="icon ion-aperture"> Camera</i>
            </button>
            <button class="button button-positive" ng-click="update(obj)">
                <i class="icon ion-upload"> Upload</i>
            </button>
        </div>
    </div>
    <div class="list list-inset">
        <div class="item item-divider">
            Información de Mascota
        </div>
        <label class="item item-input item-select">
            <i class="icon ion-ios-paw placeholder-icon"></i>
            <div class="input-label">
                Raza
            </div>
            <select ng-model="pub.breed">
                <option>Akita</option>
                <option>Beagle</option>
                <option>Boxer</option>
                <option>Bulldog Inglés</option>
                <option>Bulldog Francés</option>
                <option>Bull Terrier</option>
                <option>Bedlington</option>
                <option>Bulldog Francés</option>
                <option>Chow Chow</option>
                <option>Chin</option>
                <option>Chihuahua</option>
                <option>Cimarrón</option>
                <option>Corgi</option>
                <option>Doberman</option>
                <option>Danés</option>
                <option>Dálmata</option>
                <option>Husky Siberiano</option>
                <option>Labrador</option>
                <option>Maltés</option>
                <option>Ovejero Inglés</option>
                <option>Pug</option>
                <option>Pekinés</option>
                <option>Poodle</option>
                <option>Pitbull</option>
                <option>Rottweiler</option>
                <option>Shar Pei</option>
                <option>Shih-Tsu</option>
                <option>Shiva Inu</option>
                <option>Schnauzer</option>
                <option>San Bernardo</option>
                <option>Terrier Irlandés</option>

                <option>Angora</option>
                <option>Bengala</option>
                <option>Burmés</option>
                <option>Cartrujo</option>
                <option>Dragon Li</option>
                <option>Europeo Común</option>
                <option>Himalaya</option>
                <option>Mau Egipcio</option>
                <option>Munchkin</option>
                <option>Persa</option>
                <option>Siamés</option>
                <option>Snowshoe</option>
                <option ng-selected="selected">Otro</option>
            </select>
        </label>
        <label class="item item-input item-stacked-label">
            <i class="icon ion-card placeholder-icon"></i>
            <span class="input-label">Nombre</span>
            <input type="text" ng-model="pub.name">
        </label>
    	<label class="item item-input item-stacked-label">
    		<i class="icon ion-information-circled placeholder-icon"></i>
    		<span class="input-label">Descripción</span>
    		<textarea type="text" ng-model="pub.description"></textarea>
    	</label>
    </div>
    <div class="list list-inset">
        <div class="item item-divider">
            Tamaño
        </div>
        <div class="item range">
            <div class="item-conten">
                <img src="img/dogBig.jpg" width="15" height="15">
            </div>
            <input type="range" name="size" min="1" max="3" value="{{pub.size}}" ng-model="pub.size">
            <div class="item-content padding">
                <img src="img/dogBig.jpg" width="30" height="30">
            </div>
        </div>
    </div>
    <div class="button-bar bar-positive">
        <a class="button" ng-click="createPub(pub.reporter, pub.breed, pub.size, pub.description, pub.name, pub.pos, myPicture)">Publicar</a>
    </div>
  </ion-content>
</ion-view>
