<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Publicación {{pub}}</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closePub()">Salir</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="animal-info">
            <p align="center">{{cards[pub-1].date}}</p>
            <div class="photo">
                <img src="{{cards[pub-1].photo}}">
            </div>
            <div>
                <p>Descripción: {{cards[pub-1].description}}</p>
                <p>Raza: {{cards[pub-1].breed}}</p>
            </div>
            <div class="geoloc"></div>
        </div>
        
        <div class="reporter-info">
            <div class="photo"></div>
            <div>
                <p>Contacto: {{cards[pub-1].reporter}}</p>
            </div>
        </div>
        <div>
            <button class="button button-block button-positive">
                ¡Adoptame!
            </button>
        </div>

    </ion-content>

</ion-modal-view>
