<ion-view view-title="Publicar">
  <ion-content>
    <div class="list">
    	<div class="item item-divider">
            Información de Mascota
        </div>
        <div class="item">
        	Foto
        	<!--<item class="item item-icon-left"><i class="icon ion-chatbubble-working"></i>
			<label class="item item-input">
				<textarea ng-model="obj.text" name="posttext" rows="4"></textarea>
			</label>-->
        	<div class="padding">
				<button class="button button-block button-positive icon-left ion-ios7-camera" ng-click="takePicture()">Camera</button>
			</div>
			<div class="padding">
				<button class="button button-block button-positive icon-right ion-chevron-right" ng-click="update(obj)">Upload</button>
			</div>
        </div>
    	<label class="item item-input item-floating-label">
    		<i class="icon ion-ios-paw placeholder-icon larger"></i>
    		<span class="input-label">Raza</span>
    		<input type="text" placeholder="Raza">
    	</label>
    	<label class="item item-input item-floating-label">
    		<i class="icon ion-card placeholder-icon larger"></i>
    		<span class="input-label">Nombre</span>
    		<input type="text" placeholder="Nombre">
    	</label>
    	<label class="item item-input item-floating-label">
    		<i class="icon ion-information-circled placeholder-icon larger"></i>
    		<span class="input-label">Descripción</span>
    		<textarea type="text" placeholder="Descripción"></textarea>
    	</label>
    	<div class="item">
    		<i class="icon ion-arrow-resize placeholder-icon larger"></i>
    		<h2>Tamaño</h2><br>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-conten padding">
				 	<img src="img/dogBig.jpg" width="50" height="50">
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content padding">
					<img src="img/dogBig.jpg" width="80" height="80">
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content padding">
					<img src="img/dogBig.jpg" width="110" height="110">
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
		</div>
    </div>
  </ion-content>
</ion-view>
