<ion-modal-view>
    <ion-header-bar>
        <h1 class="title" href="#/app/news/{{pub}}">Publicación {{pub}}</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closePub()">Salir</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="animal-info">
            <div class="photo"></div>
            <div></div>
            <div class="geoloc"></div>
        </div>
        
        <div class="reporter-info">
            <div class="photo"></div>
        </div>

    </ion-content>

</ion-modal-view>
