<ion-view view-title="Register">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">e-mail</span>
                <input type="email" placeholder="john-suhr@example.com" ng-model="user.email">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Contraseña</span>
                <input type="password" placeholder="password" ng-model="user.password">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="John" ng-model="user.name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Apellido</span>
                <input type="text" placeholder="Pérez" ng-model="user.lastname">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Teléfono</span>
                <input type="text" placeholder="3xxxxxxxxx" ng-model="user.phone">
            </label>
        </div>
        <div class="button-bar bar-positive padding">
            <a class="button" ng-click="createUser(user.email, user.name, user.lastname, user.phone, user.password)">Registrarse</a>
        </div>
    </ion-content>
</ion-view>
